.buttons--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.decreaseBTN {
  border: 1px solid rgb(93, 93, 93);
  border-radius: 1em;
  outline: none;
  padding: 1em 2em;
  background-color: aliceblue;
  transition: 1s all ease;
  margin-right: 1em;
}
.increaseBTN {
  border: 1px solid rgb(93, 93, 93);
  border-radius: 1em;
  outline: none;
  padding: 1em 2em;
  background-color: aliceblue;
  transition: 1s all ease;
}

.increaseBTN:hover {
  cursor: pointer;
  background-color: lightblue;
  transition: 1s all ease;
}
.decreaseBTN:hover {
  cursor: pointer;
  background-color: lightblue;
  transition: 1s all ease;
}
